/* scroll */
::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-thumb {
  background-color: #42434beb; 
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4c4d56; 
}

::-webkit-scrollbar-track {
  background-color: #000;
}
/* cursor */
#cursor, #aura {
  position: absolute;
  border-radius: 50%;
  transition: .5s cubic-bezier(.75, -1.27, .3, 2.33) transform, .2s cubic-bezier(.75, -1.27, .3, 2.33) opacity; 
  user-select: none;
  pointer-events: none;
  z-index: 9999;
  transform: scale(1);
}

#aura.hidden {
  transform: scale(.001);
}

#cursor.hidden {
  transform: scale(.001);
}


#cursor {
  width: 7px;
  height: 7px;
  background-color: #ffffff;
}

#aura {
  width: 24px;
  height: 24px;
  border: 1.2px solid #ffffffc2;
  background-color: transparent;
  transform: translate(4.4px, 4.4px);
  transition: scale .2s ease-in-out;
}

#cursor.active {
  width: 9px;
  height: 9px;
  background-color: #9d9fa1;
}
#aura.active{
  /* border: 1.8px solid #ffffffd6; */
  border: 1.8px solid #AFB3B7;
  transform: translate(3px, 3px);
  scale: 1.8;
}
#cursor.activeBox{
  width: 9px;
  height: 9px;
  background-color: #000;
}
#aura.activeBox{
  border: 1.8px solid #000000b6;
  transform: translate(4px, 4px);
  scale: 1.4;
}
*{
  cursor: none;
}
button{
  cursor: none;
}
/* navBar */
.heading{
  scale: 1.1;
  transition: 0.3s scale ease-in-out;
}
.heading:hover{
  scale: 1.2;
}
.container-input {
  position: relative;
}

.inputSearch {
  background-color: #fff !important;
  width: 250px;
  padding: 7px 8px 7px 50px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all .2s ease-in-out;
  outline: none;
}

.inputGroup{
  transition: all .2s ease-in-out;
}
.inputGroup:hover{
  scale: 1.03;
}
.inputSearch:focus {
  opacity: 1;
  width: 400px;
}
.searchIcon{
  opacity: 0.8;
  width: 17px;
  height: 17px;
  position: absolute;
  margin-top: 12px;
  margin-left: 15px;
  transition: all .3s ease-in-out;
}
.searchIcon:hover{
  fill: #0c981a;
}


.link_icon{
  scale: 1.0;
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease-in-out;
}
.link_icon:hover{
  transform: scale(1.1);
}
@media screen and (max-width: 600px){
.header{
  
}
.logo{

}
.nav{
  display: none;
}
.icons{
  display: none;
}
}
.nav-link{
display: inline-block;
text-wrap: balance;
margin: 0 10px;
  font-size: 20px;
  color: #d9d9d9;
transition: transform 0.3s ease-in-out;
font-family: "Nunito", sans-serif;
}
.nav-link:hover{
color: #fff;
transform: scale(1.1);
}


/*card css*/
.soc_icons{
  width: 28px;
  height: 28px;
  transition: scale 0.5s ease-in-out;
}
.soc_icons:hover{
  scale: 1.1;
  
}
.lang_icons{
  object-fit: cover;
  width: 25px;
  height: 25px;
}
.text_p{
  display: flex;
  justify-content: center;
  color: rgba(44, 44, 44, 0.759);
}
.card{
  display: flex;
  width: 300px;
  height: 200px;
  justify-content: center;
  flex-wrap: wrap;
}


/* style for auth/reg forms*/
.email_input{
	max-width: 80%;
}

.pass_input{
	max-width: 80%;

}
.email_input:hover{
  outline: none;
  border-color: rgba(129, 140, 248);
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}
.pass_input:hover{
  outline: none;
  border-color: rgba(129, 140, 248);
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}
.input_icon {
  cursor: pointer;
  position: absolute;
  left: 3rem;
  fill: none;
  width: 1rem;
  height: 1rem;
  z-index: 2;
  stroke: #000;
}
.input_icon:hover{
  stroke: #0c981a;
}
/* homePage css */
.main{
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}
.IntroVideo{
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.arrow {
  opacity: 0;
  position: absolute;
      left: 49%;
      top: 60%;
  transform-origin: 50% 60%;
  transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
  animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-second {
  animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px; 
  position: absolute;
      top: 0;
      left: 0;
  width: 30px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

@keyframes arrow-movement {
  0% { 
      opacity: 0;
      top: 65%;
  }
  70% {
      opacity: 1;
  }
  100% { 
      opacity: 0;
  }
}
/*main*/
.photoHouse{
    width: 900px;
    height: 800px;
    border: none;
    border-radius: 10px;
}
.toTop-btn{
  position: absolute;
  z-index: 9999;
  width: 50px;
  height: 50px;
  background-color: #fff;
  bottom: 50px;
  right: 50px;
}
/* footer */
.footer_links{
  justify-content: center;
  align-items: center;
  width: auto;

}
.f-link{
  font-family: "Nunito", sans-serif; 
  color: #cdcdcd;
  transition: color .3s ease-in-out;
  text-decoration: none;
  font-size: 14px;
  scale: 1.0;
  transition: color .3s ease-in-out;
}
.f-link:hover{
  color: #fff;
}
